@tailwind base;
@tailwind components;
@tailwind utilities;

/* defining local fonts */
@font-face {
  font-family: "LemonMilKBold";
  src:url("./fonts/LemonMilkBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "LemonMilkMedium";
  src:url("./fonts/LemonMilkMedium.otf") format("opentype");
  font-weight: medium;
}
@font-face {
  font-family: "MomCakeBold";
  src:url("./fonts/MomCakeBold.otf") format("opentype");
  font-weight: bold;
}
/* defining local fonts */
  

body {
  background-color: rgb(16, 22, 35);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

